@import url(https://fonts.googleapis.com/css?family=Arvo:700);
@import url(https://fonts.googleapis.com/css?family=Seaweed+Script);
body {
  background-color: #222;
}
.plate {
    width: 410px;        
    position: relative;        
    vertical-align: middle;        
    margin: auto;        
    text-align: center;        
    top: 10%;
}

.script {
  font-family: "Seaweed Script";
  color: #fff;
  text-align: center;
  font-size: 40px;
  position: relative;
  margin:0;
}
.script span {
  background-color: #222;
  padding: 0 0.3em;
}
.script:before {
  content:"";
  display: block;
  position: absolute;
  z-index:-1;
  top: 50%;
  width: 100%;
  border-bottom: 3px solid #fff;
}

.caption {
	color: #333;
	font-family: 'Noto Serif';
	font-size: 30px;
	font-style: italic;
	font-weight: 500;
	line-height: 54px;
	margin-bottom: 24px;
	max-width: 600px;
	text-indent: -12px;
}

.descr{
  position: relative;
  left: 55px;
}

.price{
  font-weight: bold;
  color: red;
}